@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Cariler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-striped" style="margin-top:20px;">
    <tr style="background-color:rgb(252, 178, 22)">
        <th>#</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>MESLEK</th>
        <th>ŞEHİR</th>
        <th>MAİL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Cariid</td>
            <td>@x.CariAd</td>
            <td>@x.CariSoyad</td>
            <td>@x.CariMeslek</td>
            <td>@x.CariSehir</td>
            <td>@x.CariMail</td>
            <td><a href="/Cari/CariSil/@x.Cariid" class="btn btn-danger">Sil</a></td>
            <td><a href="/Cari/CariGetir/@x.Cariid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Cari/MusteriSatis/@x.Cariid" class="btn btn-group" style="background-color:lightcoral; color:white;">Satış Geçmişi</a></td>
        </tr>
    }
</table>
<a href="/Cari/YeniCari/" class="btn btn-outline-primary">Yeni Cari Ekle</a>