@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<table id="tbl1" class="table table-bordered" style="margin-top:20px;">
    <thead>
        <tr style="background-color:rgb(252, 178, 22)">
            <th>#</th>
            <th>ÜRÜN</th>
            <th>CARİ</th>
            <th>PERSONEL</th>
            <th>ADET</th>
            <th>FİYAT</th>
            <th>TUTAR</th>
            <th>TARİH</th>
            @*<th>SİL</th>*@
            <th>GÜNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Satisid</td>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
            <td>@x.Adet</td>
            <td>@x.Fiyat</td>
            <td>@x.ToplamTutar</td>
            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
            @*<td><a href="/Cari/CariSil/@x.Satisid" class="btn btn-danger">Sil</a></td>*@
            <td><a href="/Satis/SatisGetir/@x.Satisid" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Satis/SatisDetay/@x.Satisid" class="btn btn-group" style="background-color:lightcoral">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Satis/YeniSatis/" class="btn btn-primary">Yeni Satış Yap</a>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@

<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>

@*<script>
    $(document).ready(function () {
        $('#tbl1').DataTable({
            language: {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
            }
        });
    });*@
@*</script>*@

<script>
    $('#tbl1').dataTable({
        language: {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }
    });
</script>


