@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Personel

@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Personel Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label>Personel Adı</label>
        @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.Personelid)
        <br />
        <label>Personel Soyadı</label>
        @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
        <br />
        <label>Personel Maili</label>
        @Html.TextBoxFor(x => x.PersonelMail, new { @class = "form-control" })
        <br />
        <label>Personel Görseli</label>
        <br />
        <input type="file" name="PersonelGorsel" />
        <br />
        @*@Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })*@
        <br />
        <label>Personel Şehri</label>
        @Html.TextBoxFor(x => x.PersonelSehir, new { @class = "form-control" })
        <br />
        <label>Personel Telefonu</label>
        @Html.TextBoxFor(x => x.PersonelTelefon, new { @class = "form-control" })
        <br />
        <label>Personel Departmanı</label>
        @Html.DropDownListFor(x => x.Departmanid, (List<SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
        <br />
    </div>
    <button class="btn btn-outline-dark">Güncelle</button>
}
